*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #137218;
    height: 90px;
    width: 100%;
}

header h1{
    font-size: 36px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    text-shadow: 5px 5px 5px #333333;
}

.nav-top{
    display: flex;
    flex-flow:row-reverse wrap-reverse;
    padding-right: 20px;
}


.nav-top ul{
    display: flex;  
    list-style-type: none;
}

.nav-top ul li{
    margin-left: 20px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.nav-top ul li:hover{
    color: yellow;
    cursor: pointer;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: 80vh;
}

.wrapper > *{
    border: solid 2px #333333;
    
}

.nav-left{
    padding: 40px
}

.nav-left ul{
    list-style-type: none;
}

.nav-left ul li{
    margin-top: 15px;
    color: #137218;
    font-weight: bold;
    font-size: 18px;

    border-left: solid 2px rgb(231, 156, 15);
    padding-left: 5px;
}    

.nav-left ul li:hover{
    color:  rgb(231, 156, 15); 
    border-left: solid 2px #137218;   
    cursor: pointer;
}

main{
    padding: 40px;
}

main > article{
    margin-bottom: 50px;
}

main > article h2{
    color: #137218;
    font-weight: bold;
    margin-bottom: 10px;
}

main > article p{
    text-align: justify;
}
